<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46417004-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-46417004-2');
</script>


<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <!--<a href="{{ "/feed.xml" | prepend: site.baseurl }}">-->
                        <a href="{{ site.feedburner_rss_link }}" rel="alternate" type="application/rss+xml"
                           data-toggle="tooltip" data-placement="top" title=""
                           data-original-title="Follow the rss feed">
                            <span class="fa-stack" style="vertical-align: top;">
                              <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
                                <!--<i class="fas fa-blog fa-stack-1x fa-inverse"></i>-->
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.feedburner_email_subscribe_link }}" data-toggle="tooltip" data-placement="top"
                           title="" data-original-title="Subscribe to the blog via email">
                            <span class="fa-stack" style="vertical-align: top;">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <!--<i class="fab fa-mailchimp fa-stack-1x fa-inverse"></i>-->
                              <!--<i class="fas fa-at fa-stack-1x fa-inverse"></i>-->
                              <i class="fas fa-bullhorn fa-stack-1x fa-inverse"></i>
                              <!--<i class="fas fa-eye fa-stack-1x fa-inverse"></i>-->
                              <!--<i class="fas fa-mail-bulk fa-stack-1x fa-inverse"></i>-->
                              <!--<i class="fas fa-envelope-open fa-stack-1x fa-inverse"></i>-->
                              <!--<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>-->
                            </span>
                        </a>
                    </li>
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}" data-toggle="tooltip"
                           data-placement="top" title=""
                           data-original-title="Available as {{ site.twitter_username }} on Twitter">
                            <span class="fa-stack" style="vertical-align: top;">
                              <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}" data-toggle="tooltip"
                           data-placement="top" title=""
                           data-original-title="Available as {{ site.facebook_username }} on Facebook">
                            <span class="fa-stack" style="vertical-align: top;">
                              <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}"
                           data-toggle="tooltip" data-placement="top" title=""
                           data-original-title="Available as {{ site.github_username }} on Github">
                            <span class="fa-stack" style="vertical-align: top;">
                              <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">Copyright &copy; {{ site.author_name | html_escape }} {{ site.time | date: '%Y' }} - {{ site.title | html_escape }}</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src='{{ "/js/jquery.min.js " | prepend: site.baseurl }}'></script>

<!-- Bootstrap Core JavaScript -->
<script src='{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}'></script>

<!-- Custom Theme JavaScript -->
<script src='{{ "/js/develop-freedom.min.js " | prepend: site.baseurl }}'></script>
